
body,html,.parent{
    height: 100%;
    margin:0px;
    padding:0px;
    font-size: small;
    font-family: "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.middle{
    overflow: hidden;
    height: calc(100% - 130px);
}
.top{
    font-family: 'KaiTi', cursive;
    height: 80px;
    background: #223961 url("../img/bg-header.jpg") repeat-x left top;
}

.bottom{height:50px;}
#map {
    z-index:0;
}
#header {
    /*background: url("../img/bg-header.png") repeat-x left top;*/
    border-bottom: 2px solid #fff;

}
#logo {
    display: inline-block;
    color: #b2f494;
    font-size: 300%;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px;
    vertical-align: middle;
    /*width: 600px;*/
}
#title {
    display: inline-block;
    color: #ffffff;
    font-size: 240%;
    vertical-align: middle;
    margin-top: 10px;
    font-weight: bold;
}
#div-current_region {
    float: right;
    color: #fff;
    margin-top: 30px;
    margin-right: 50px;
}
#current_region {
    color: #91cbe8;

}
#current_region:hover {
    cursor: pointer;
    text-decoration: underline;
}
#welcome {
    float: right;
    color: #ffffff;
    font-weight: bold;
    margin-top: 30px;
    margin-right:10px;
}

#footer {
    width: 100%;
    background: #223961 url("../img/bg-footer.jpg") repeat left top;
    border-top: 1px solid #fff;
    color: white;
}
#latlon_info {
    position: absolute;
    left: 15px;
    bottom:15px;
}
#copyright {
    text-align:center;
    margin-right: 15px;
    margin-top: 15px;
}
.controls-bar-right {
    position: absolute;
    right: 10px;
    top: 250px;
}

.btn-tools {
    padding-top: 4px;
    background-clip:padding-box;
}
.btn-tools:hover {
    border-color: rgba(0,0,0,0.2);
}
.btn-tools-single {
    /* 	position: absolute;
        right: 10px; */
    border:2px solid rgba(0,0,0,0.2);
}
.btn-tools-top {
    border-left:2px solid rgba(0,0,0,0.2);
    border-right:2px solid rgba(0,0,0,0.2);
    border-top:2px solid rgba(0,0,0,0.2);
    border-bottom:0px solid #fff;
    background-clip:padding-box;
}
.btn-tools-bottom {
    border-left:2px solid rgba(0,0,0,0.2);
    border-right:2px solid rgba(0,0,0,0.2);
    border-top:1px solid rgba(0,0,0,0.2);
    border-bottom:2px solid rgba(0,0,0,0.2);
    background-clip:padding-box;
}



/*三线一单*/
.sxyd {
    padding-left: 10px;
}

.sidebar-header2 {
    font-size: 120%;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    padding: 3px 3px;
    background-color: #c0c0c0;
}

.jsgrid-table {
    font-size: small;
}

#div-encyclopedia div.row div.col-md-4 {


}
.item-encyclopedia {
    /*border: 1px solid red;*/
    margin:5px 0px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    filter: brightness(0.8);
}
.item-encyclopedia:hover {
    filter: brightness(1);
}
.item-encyclopedia p {
    position: absolute; /*or前面的是absolute就可以用*/
    bottom: 0;
    font-size: 120%;
    color: white;
    text-align: center;
    background-color: rgba(73,80,87,0.5);
    border-radius: 0px 0px 10px 10px;
    padding: 5px 0px;
    margin: 0px;
    display: block;
    width: 100%;
}

#envFuncZoneInfoModal .modal-body div, #drinkingWaterSourceInfoModal .modal-body div,
#entInfoModal .modal-body div,
#gdInfoModal .modal-body div,
#stpInfoModal .modal-body div,
#spsInfoModal .modal-body div,
#wtsInfoModal .modal-body div,
#riskInfoModal .modal-body div{
    margin: 2px 0px;
}
#entInfoModal .modal-body .row,
#gdInfoModal .modal-body .row,
#stpInfoModal .modal-body .row,
#spsInfoModal .modal-body .row,
#wtsInfoModal .modal-body .row{
    border-bottom: 1px solid #e2e2e2;
}
.legend {
    width: 200px;
    height:120px;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 60px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #333333;
    display: none;
}

.timeline {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 680px;
    background-color: rgba(0, 0, 0, 0.5);
}
.timeline .control-button {
    /*position: absolute;*/
    float: left;
    margin: 30px 0 0 20px;
}

#btn-risk-search {
    margin-top: 10px;
}

#riskInfoModal .modal-dialog .modal-content .modal-body {
    padding: 20px 50px;
}
#risk-chart {
    /*border: 1px solid red ;*/
    width:500px;
    height: 300px;
}
/*leaflet聚合图层的自定义图标把背景色设为透明*/
.leaflet-div-icon {
    background-color: #00000000;
    border:0px;
}